name: Build flutter app

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      KEY_JKS: ${{ secrets.KEY_JKS }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11.x'

      - uses: subosito/flutter-action@v1.3.2
        with:
          flutter-version: '1.22.0'
      - run: 'echo "$KEY_JKS" | base64 --decode > signing.jks'
      - run: flutter doctor
      - run: flutter pub get
      - run: flutter build appbundle
      - run: flutter build apk